

  .example-card {
    max-width: 400px;
    height: 100%; /* Add this line to make all cards the same height */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    gap: 10px; /* Add gap between cards */
  }
  
  .card-container .col-md-6 {
    flex: 0 0 calc(25% - 10px); /* Adjust as needed to ensure 4 cards per row */
    margin-bottom: 0; /* Remove bottom margin */
  }
  
  @media (min-width: 992px) {
    .card-container .col-md-6 {
      flex: 0 0 calc(25% - 10px); /* Adjust as needed */
    }
  }

  .like-button {
    background-color: rgb(14, 14, 81);
    color: white;
  }
  
  .card-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* CSS class to style the mat-card-content */
  .card-content {
    flex-grow: 1;
    overflow: hidden;
  }



.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  background-color: rgb(14, 14, 81);
  max-width: 800px;
  max-height: 70px;
  border-radius: 10px;
  margin: 15px auto;
  padding: 20px;
}


.search-field {
  border-radius: 10px;
  margin: 5px; 
  max-width: 200px; 
}


.search-field input {
  color: #333;
}


.search-field ::ng-deep .mat-input-placeholder {
  color: #888; 
}


/* External CSS (in a separate .css file) */
.orange-hr {
  background-color: #f31606;
  height: 3px; /* Optional: Set the height of the line */
}




