

  .example-card {
    max-width: 400px;
    height: 100%; /* Add this line to make all cards the same height */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    gap: 10px; /* Add gap between cards */
  }
  
  .card-container .col-md-6 {
    flex: 0 0 calc(25% - 10px); /* Adjust as needed to ensure 4 cards per row */
    margin-bottom: 0; /* Remove bottom margin */
  }
  
  @media (min-width: 992px) {
    .card-container .col-md-6 {
      flex: 0 0 calc(25% - 10px); /* Adjust as needed */
    }
  }
  
  
