<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>


  <div class="z-[20] navbar px-16">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/hotels">Hotels</button>
    <button mat-button routerLink="/about-us">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <div class="dropdown dropdown-bottom dropdown-end">
      <label tabindex="0" class="btn m-1">Admin Dashboard</label>
      <ul
        tabindex="0"
        class="dropdown-content z-[20] menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a routerLink="/admin">VIEW HOTELS</a></li>
        <li><a routerLink="/contracts">VIEW CONTRACTS</a></li>
      </ul>
    </div>
  </div>


<div class="" style="min-height: calc(100vh - 251px)">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-content">
    <!-- Social Media Links -->
    <div class="social-media flex flex-row gap-5">
      <a href="https://facebook.com"> Facebook</a>
      <a href="https://twitter.com"> Twitter</a>
      <a href="https://instagram.com"> Instagram</a>
    </div>

    <!-- Navigation Links -->
    <div class="navigation">
      <a routerLink="/">Home</a>
      <a routerLink="/admin">Admin</a>
    </div>

    <!-- Contact Details -->
    <div class="contact-details">
      <p>Email: orange.hotels@services.lk</p>
      <p>Phone: +94 (123) 456-789</p>
    </div>
  </div>
</footer>
