/* Navbar */
.navbar {
  background-color: #f16b42;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Vertically center the buttons */
  padding: 10px;
}

.navbar button {
  color: white;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.navbar button:hover {
  color: #f4d8d1; /* Change the background color on hover */
}

/* Footer */
footer {
  background-color: #0e0e51;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

/* Social Media Links */
.social-media {
  margin-bottom: 20px;
}

.social-media a {
  text-decoration: none;
  color: #e2cbcb;
  align-items: center;
  transition: color 0.3s; /* Smooth color transition on hover */
}


.social-media a:hover {
  color: #f16b42; /* Change the color on hover */
}

/* Navigation Links */
.navigation {
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  color: #ecd0d0;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #e25633;
}

/* Contact Details */
.contact-details {
  font-size: 14px;
  color: #666;
  margin-top: 20px; /* Add space between contact details and links */
}

.contact-details p {
  margin: 5px 0;
}
