


  <mat-tab-group>
    <mat-tab label="First"> 
      <!-- Display basic information -->
      <p>Check-in Date: {{ checkIn }}</p>
      <p>Check-out Date: {{ checkOut }}</p>
      <p>Number of Guests: {{ noOfPax }}</p>
      <p>Room Price: {{ roomPrice }}</p>
    </mat-tab>
    <mat-tab label="Second"> 
      <div *ngIf="supplements.length > 0">
        <h3>Supplements</h3>
        <form>
          <!-- Display supplements with checkboxes -->
          <ul>
            <li *ngFor="let supplement of supplements">
              <label>
                <input type="checkbox" (change)="onSupplementCheckboxChange(supplement)" [(ngModel)]="supplement.selected" name="selectedSupplements">
                {{ supplement.supplementName }}
              </label>
            </li>
          </ul>
        </form>
      </div>
      
      <div *ngIf="error !== null">
        <p>Error: {{ error }}</p>
      </div>
    </mat-tab>
    <mat-tab label="Third"> 
    
      <div *ngIf="finalPrice !== null">
        <p>Final Price: {{ finalPrice }}</p>
      </div>
      <button (click)="displayFinalPrice()">Display Final Price</button>
    </mat-tab>
  </mat-tab-group>
  
  
  
