

  .example-container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    width: 100vw;
    height: 70vw;
  }
  
  .example-sidenav-content {
    flex: 1; /* Allow the content to grow and take available space */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
  }
  
  .example-sidenav {
    width: auto; /* Allow it to be as wide as its content */
    padding: 20px;
  }
  
  