<!-- <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p><app-hotel-display-admin></app-hotel-display-admin></p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        VIEW HOTELS
      </button>

    </div>
  
  </mat-drawer-container> -->

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-hotel-display-admin></app-hotel-display-admin>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        VIEW HOTELS
      </button>
  
    </div>
  </mat-drawer-container> 


