.example-card {
  max-width: 400px;
  height: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px; /* Adjust the gap as needed */
  column-gap: 20px;
  color:rgb(14, 14, 81)
}

.card-container .col-md-6 {
  flex: 0 0 calc(25% - 10px); /* Adjust to ensure 2 cards per row and reduce gap */
  margin-bottom: 10px; /* Remove bottom margin */
}

@media (min-width: 992px) {
  .card-container .col-md-3 {
    flex: 0 0 calc(25% - 10px); /* Adjust as needed for larger screens */
  }
}

.card-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex-grow: 1;
  overflow: hidden;
}

.blue-button {
  background-color: rgb(14, 14, 81);
  color: white;
  width: 100%;
}

.blue-button:hover {
  opacity: 1.2;
}



.booking-form {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(14, 14, 81);
}

h2 {
  font-size: 36px; 
  text-transform: uppercase; 
  margin-bottom: 20px;
  color: rgb(14, 14, 81);
  font-weight: bold; 
  text-align: center; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px; 
  background: linear-gradient(135deg, aqua, pink); 
  display: inline-block; 
  padding: 10px 20px; 
  border-radius: 10px;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 0 0 calc(33.33% - 10px); /* Adjust width as needed for 3 columns with some spacing */
  text-align: left;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button.blue-button {
  background-color: rgb(14, 14, 81);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.blue-button:hover {
  background-color: #0056b3;
}
